In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir('/Users/JuanJose/Library/CloudStorage/OneDrive-UniversidaddelosAndes/Uniandes/8 Semestre/Machine Learning/Proyecto Final/Trabajo Final/Data')
Juandi=pd.read_pickle('user_model_juandi.pkl')

In [3]:
len(Juandi)

486300

In [4]:
Juandi.columns

Index(['ID', 'Permalink', 'Author ID', 'Author Name', 'Author Location',
       'Author Description', 'Author Followers', 'Author Following',
       'Author Tweets', 'Author Profile Image', 'Author Verified', 'Date',
       'Text', 'Replies', 'Retweets', 'Favorites', 'Quotes', 'is Retweet?',
       'Reply To User Name', 'Mentions', 'Referenced Tweet', 'Reference Type',
       'Referenced Tweet Author ID', 'Media URLs', 'Media Keys', 'ADJ%',
       'ADP%', 'ADV%', 'AUX%', 'CCONJ%', 'DET%', 'INTJ%', 'PART%', 'PRON%',
       'PROPN%', 'PUNCT%', 'SCONJ%', 'SYM%', 'VERB%', 'X%', 'SPACE%'],
      dtype='object')

In [5]:
Juandi=Juandi[['Author ID','ADJ%','ADP%', 'ADV%', 'AUX%', 'CCONJ%', 'DET%', 'INTJ%', 'PART%', 'PRON%','PROPN%', 'PUNCT%', 'SCONJ%', 'SYM%', 'VERB%', 'X%', 'SPACE%']]

In [7]:
Juandi.head(5)

,Author ID,ADJ%,ADP%,ADV%,AUX%,CCONJ%,DET%,INTJ%,PART%,PRON%,PROPN%,PUNCT%,SCONJ%,SYM%,VERB%,X%,SPACE%
0,252912120,0.000000,0.083333,0.083333,0.000000,0.083333,0.083333,0.0,0.0,0.166667,0.083333,0.083333,0.000000,0.0,0.166667,0.0,0.083333
1,252912120,0.142857,0.214286,0.035714,0.000000,0.000000,0.071429,0.0,0.0,0.071429,0.000000,0.071429,0.000000,0.0,0.107143,0.0,0.071429
2,252912120,0.020833,0.166667,0.125000,0.020833,0.062500,0.083333,0.0,0.0,0.041667,0.000000,0.062500,0.041667,0.0,0.083333,0.0,0.000000
3,252912120,0.125000,0.000000,0.000000,0.000000,0.000000,0.125000,0.0,0.0,0.125000,0.000000,0.250000,0.000000,0.0,0.000000,0.0,0.000000
4,252912120,0.217391,0.086957,0.043478,0.043478,0.086957,0.000000,0.0,0.0,0.086957,0.000000,0.086957,0.043478,0.0,0.043478,0.0,0.000000

In [9]:
Juandi=Juandi.groupby(['Author ID']).mean()

In [10]:
Juandi

,ADJ%,ADP%,ADV%,AUX%,CCONJ%,DET%,INTJ%,PART%,PRON%,PROPN%,PUNCT%,SCONJ%,SYM%,VERB%,X%,SPACE%
Author ID,,,,,,,,,,,,,,,,
29283,0.061385,0.043420,0.006141,0.014733,0.004369,0.003369,0.000846,0.000000,0.007432,0.559697,0.070385,0.000196,0.005124,0.080103,0.0,0.012775
1061601,0.064229,0.119998,0.036970,0.036980,0.020161,0.073536,0.002803,0.000000,0.057422,0.096472,0.066639,0.020476,0.000641,0.111789,0.0,0.096788
1357911,0.078452,0.136641,0.030815,0.030480,0.023596,0.121006,0.000000,0.000213,0.044776,0.057586,0.078517,0.020719,0.004008,0.121834,0.0,0.022827
2984721,0.064469,0.109783,0.038830,0.042820,0.020916,0.084362,0.002258,0.000000,0.053797,0.093023,0.086912,0.014481,0.001765,0.124739,0.0,0.025203
7996082,0.079894,0.163807,0.026565,0.031721,0.027287,0.123901,0.000000,0.000227,0.041822,0.073132,0.045760,0.015247,0.008274,0.101505,0.0,0.006757
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1389637694075162628,0.059636,0.079519,0.054431,0.050242,0.034098,0.080395,0.005015,0.000000,0.050555,0.160503,0.058224,0.020760,0.000995,0.132513,0.0,0.032568
1389737202742071304,0.078847,0.081052,0.066679,0.029251,0.021036,0.086341,0.001873,0.000000,0.048308,0.140772,0.060962,0.023056,0.000653,0.097133,0.0,0.080547
1389745371690283014,0.058090,0.123911,0.041006,0.042059,0.019592,0.087418,0.002197,0.000000,0.072139,0.074456,0.102610,0.028307,0.001029,0.120686,0.0,0.020953
1389753654849286145,0.072678,0.097081,0.064880,0.054012,0.036923,0.095389,0.000836,0.000000,0.102703,0.026985,0.069782,0.036812,0.000529,0.146806,0.0,0.008761
1389769251704147971,0.083022,0.084813,0.027181,0.030211,0.019116,0.069197,0.002488,0.000000,0.050936,0.102339,0.077352,0.024582,0.009557,0.126371,0.0,0.082567

In [4]:
first=pd.read_pickle('Consolidated_V0.pkl')

# prueba merge random forest

In [2]:
import os
import pandas as pd
import numpy as np

In [3]:
#Importar la base de datos
#os.chdir('/Users/santiagoherreragarcia/OneDrive - Universidad de los Andes/Semestre 2022-1/Machine Learning/Trabajo Final/Data')
os.chdir('/Users/JuanJose/Library/CloudStorage/OneDrive-UniversidaddelosAndes/Uniandes/8 Semestre/Machine Learning/Proyecto Final/Trabajo Final/Data')
marcas=pd.read_pickle('Y Botometer.pkl')
main_characteristics=pd.read_pickle('model_characteristics.pkl')
#Encontrar cuentas marcadas:
main_characteristics=main_characteristics.merge(marcas)
marcas=main_characteristics['bot']
main_characteristics.drop(columns=['bot'], inplace=True)

In [4]:
lisdir=os.listdir()

In [19]:
dfs=[]
for i in os.listdir():
    if 'user_model' in i:
        print(i)
        df=pd.read_pickle(i)
        if i=='user_model_juandi.pkl':
            df=df[['Author ID','ADJ%','ADP%', 'ADV%', 'AUX%', 'CCONJ%', 'DET%', 'INTJ%', 'PART%', 'PRON%','PROPN%', 'PUNCT%', 'SCONJ%', 'SYM%', 'VERB%', 'X%', 'SPACE%']]
            df=df.groupby(['Author ID']).mean()
        dfs.append(df)
for i in range(0, len(dfs)):
    dfs[i]['Author ID']=dfs[i]['Author ID'].astype(int).astype(str)
    main_characteristics=main_characteristics.merge(dfs[i], on='Author ID')
main_characteristics.drop(columns=['Author ID'], inplace=True)

user_model_texto.pkl
user_model_analyze_descriptions.pkl
user_model_juandi.pkl

In [24]:
dfs=[]
for i in os.listdir():
    if 'user_model' in i:
        print(i)
        if i!='user_model_juandi.pkl':
            df=pd.read_pickle(i)
        dfs.append(df)

user_model_texto.pkl
user_model_analyze_descriptions.pkl
user_model_juandi.pkl

In [ ]:
for i in range(0, len(dfs)):
    dfs[i]['Author ID']=dfs[i]['Author ID'].astype(int).astype(str)
    main_characteristics=main_characteristics.merge(dfs[i], on='Author ID')
main_characteristics.drop(columns=['Author ID'], inplace=True)

In [25]:
len(dfs)

3

In [29]:
df=pd.read_pickle('user_model_juandi.pkl')
df=df[['Author ID','ADJ%','ADP%', 'ADV%', 'AUX%', 'CCONJ%', 'DET%', 'INTJ%', 'PART%', 'PRON%','PROPN%', 'PUNCT%', 'SCONJ%', 'SYM%', 'VERB%', 'X%', 'SPACE%']]
df=df.groupby(['Author ID'],as_index=False).mean()
df.dtypes

Author ID      int64
ADJ%         float64
ADP%         float64
ADV%         float64
AUX%         float64
CCONJ%       float64
DET%         float64
INTJ%        float64
PART%        float64
PRON%        float64
PROPN%       float64
PUNCT%       float64
SCONJ%       float64
SYM%         float64
VERB%        float64
X%           float64
SPACE%       float64
dtype: object

In [30]:
df.columns

Index(['Author ID', 'ADJ%', 'ADP%', 'ADV%', 'AUX%', 'CCONJ%', 'DET%', 'INTJ%',
       'PART%', 'PRON%', 'PROPN%', 'PUNCT%', 'SCONJ%', 'SYM%', 'VERB%', 'X%',
       'SPACE%'],
      dtype='object')

In [31]:
dfs=[]
df=pd.read_pickle('user_model_texto.pkl')
dfs.append(df)
df=pd.read_pickle('user_model_analyze_descriptions.pkl')
dfs.append(df)
df=pd.read_pickle('user_model_juandi.pkl')
df=df[['Author ID','ADJ%','ADP%', 'ADV%', 'AUX%', 'CCONJ%', 'DET%', 'INTJ%', 'PART%', 'PRON%','PROPN%', 'PUNCT%', 'SCONJ%', 'SYM%', 'VERB%', 'X%', 'SPACE%']]
df=df.groupby(['Author ID'], as_index=False).mean()
dfs.append(df)

In [20]:
len(dfs)

3

In [21]:
dfs[2]['Author ID']=dfs[2]['Author ID'].astype(int).astype(str)

KeyError: 'Author ID'

In [18]:
dfs[2]['Author ID']

0         252912120
1         252912120
2         252912120
3         252912120
4         252912120
            ...
486295    335665232
486296    335665232
486297    335665232
486298    335665232
486299    335665232
Name: Author ID, Length: 486300, dtype: object